In [39]:
import pandas as pd
from Bio import SeqIO
import subprocess
import matplotlib.pylab as plt
%matplotlib inline
from scipy import stats

info = pd.read_csv('/home/richard/research/tests/Nov24BranchPoint/speciesInfo.csv')
info.index = info.shortName
info.loc['TrireRUTC30_1','longName'] = 'Trichoderma reesei or Trire2'

In [53]:
## get bp prob matrix, unfiltered
weak_info = []
for shortName in info.shortName:
    try:
        freqs = pd.read_csv('/home/karl/richard-exp-lu-w9/{}_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)
        mat = pd.DataFrame([[0]*9 for i in range(4)]); mat.index = 'T C A G'.split()

        for motif in freqs[0]:
            if 'N' not in motif:
                for i in range(9):
                    mat.ix[motif[i]][i] += 1
        result = mat/freqs.shape[0]
        result.to_csv('/home/richard/research/tests/Nov24BranchPoint/bp_mat_unfiltered/{}.bp.mat'.format(shortName), header = None, sep = ' ')
        weak_info.append(shortName)
    except:
        print 'problem with {}'.format(shortName)
#         print shortName,

problem with Neucr2
problem with TrireRUTC30_1
problem with Schco3
problem with Rhior3
problem with Batde5

In [54]:
print weak_info

['Spapa3', 'Picst3', 'Canta1', 'Debha1', 'Hypbu1', 'Cante1', 'Metbi1', 'Babin1', 'Canar1', 'Hanpo2', 'Picme2', 'Dekbr2', 'Picpa1', 'Pacta1_2', 'Klula1', 'Ashgo1_1', 'Sacce1', 'Hanva1_1', 'Wican1', 'Cybja1', 'Ascru1', 'Nadfu1', 'Yarli1', 'Canca1', 'Lipst1_1', 'Aspnid1', 'Tubme1', 'Schpo1', 'Pneji1', 'Tapde1_1', 'Saico1', 'Cryne_H99_1']

In [49]:
## get bp prob matrix, 500 nt introns
weak_info = []
for shortName in info.shortName:
    try:
        freqs = pd.read_csv('/home/karl/richard-exp-weak-w9/{}_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)
        mat = pd.DataFrame([[0]*9 for i in range(4)]); mat.index = 'T C A G'.split()

        for motif in freqs[0]:
            if 'N' not in motif:
                for i in range(9):
                    mat.ix[motif[i]][i] += 1
        result = mat/freqs.shape[0]
        result.to_csv('/home/richard/research/tests/Nov24BranchPoint/bp_mat_weak/{}.bp.mat'.format(shortName), header = None, sep = ' ')
        weak_info.append(shortName)
    except:
        print 'problem with {}'.format(shortName)
#         print shortName,
        pass

problem with Spapa3
problem with Debha1
problem with Hypbu1
problem with Cante1
problem with Hanpo2
problem with Picme2
problem with Picpa1
problem with Klula1
problem with Ashgo1_1
problem with Sacce1
problem with Canca1
problem with Schpo1
problem with Tapde1_1

In [48]:
print weak_info

['Picst3', 'Canta1', 'Metbi1', 'Babin1', 'Canar1', 'Dekbr2', 'Pacta1_2', 'Hanva1_1', 'Wican1', 'Cybja1', 'Ascru1', 'Nadfu1', 'Yarli1', 'Lipst1_1', 'Neucr2', 'TrireRUTC30_1', 'Aspnid1', 'Tubme1', 'Pneji1', 'Saico1', 'Cryne_H99_1', 'Schco3', 'Rhior3', 'Batde5']

In [ ]:
## get bp prob matrix
for shortName in info.shortName:
    try:
        freqs = pd.read_csv('/home/karl/richard-exp-w9/{}_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)
        mat = pd.DataFrame([[0]*9 for i in range(4)]); mat.index = 'T C A G'.split()

        for motif in freqs[0]:
            if 'N' not in motif:
                for i in range(9):
                    mat.ix[motif[i]][i] += 1
        result = mat/freqs.shape[0]
        result.to_csv('/home/richard/research/tests/Nov24BranchPoint/bp_mat/{}.bp.mat'.format(shortName), header = None, sep = ' ')
    except:
        print 'problem with {}'.format(shortName)

In [51]:
## get bp prob matrix, 500 filtered
success = []
for shortName in info.shortName:
    try:
        freqs = pd.read_csv('/home/karl/richard-exp-w9-run2/{}_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)
        mat = pd.DataFrame([[0]*9 for i in range(4)]); mat.index = 'T C A G'.split()

        for motif in freqs[0]:
            if 'N' not in motif:
                for i in range(9):
                    mat.ix[motif[i]][i] += 1
        result = mat/freqs.shape[0]
        result.to_csv('/home/richard/research/tests/Nov24BranchPoint/bp_mat_2nd/{}.bp.mat'.format(shortName), header = None, sep = ' ')
        success.append(shortName)
    except:
        print 'problem with {}'.format(shortName)

problem with Debha1
problem with Hypbu1
problem with Cante1
problem with Hanpo2
problem with Picpa1
problem with Ashgo1_1
problem with Sacce1
problem with Schpo1

In [52]:
print success

['Spapa3', 'Picst3', 'Canta1', 'Metbi1', 'Babin1', 'Canar1', 'Picme2', 'Dekbr2', 'Pacta1_2', 'Klula1', 'Hanva1_1', 'Wican1', 'Cybja1', 'Ascru1', 'Nadfu1', 'Yarli1', 'Canca1', 'Lipst1_1', 'Neucr2', 'TrireRUTC30_1', 'Aspnid1', 'Tubme1', 'Pneji1', 'Tapde1_1', 'Saico1', 'Cryne_H99_1', 'Schco3', 'Rhior3', 'Batde5']

In [23]:
## get bp prob matrix, address the issue of weak signal
for shortName in info.shortName:
    try:
        freqs = pd.read_csv('/home/richard/research/tests/Nov24BranchPoint/richard-exp-w9/{}_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)
        mat = pd.DataFrame([[0]*9 for i in range(4)]); mat.index = 'T C A G'.split()

        seqs = list(SeqIO.parse('/home/richard/research/tests/Nov24BranchPoint/intron_long/{}_intron.fasta'.format(shortName),'fasta'))

        for i in range(freqs.shape[0]):
            motif = freqs[0][i]
#             print len(seqs[i])
            if 'N' not in motif and len(seqs[i])>500:
                for i in range(9):
                    mat.ix[motif[i]][i] += 1
        result = mat/freqs.shape[0]
        result.to_csv('/home/richard/research/tests/Nov24BranchPoint/bp_mat/{}.bp.mat'.format(shortName), header = None, sep = ' ')
    except:
        print 'problem with {}'.format(shortName)

problem with Cante1
problem with Schco3

In [38]:
## bp to acc spacer length distribution
n = 45
target = '/home/richard/research/tests/Nov24BranchPoint/spacer_length_distr/'

for shortName in info.shortName:
    try:
        length_raw = pd.read_csv('/home/karl/richard-exp-w9/{}_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)[1]

        lengths = {i:0 for i in range(n)} 
        for number in length_raw:
#             print number
            if number > 2:
                lengths[n -number]+=1
        total = sum(lengths.values())
        for i in range(n):
            lengths[i] = 1.*lengths[i]/total

        plt.figure()
        plt.plot(range(n), [lengths[i] for i in range(n)])
        plt.title('Branch Point to Acceptor spacer length distribution\n{}, shortName: {}\n GC: {}, Intron Density: {}'.format(info.ix[shortName]['longName'], shortName, info.ix[shortName]['gc'], info.ix[shortName]['inron density']))
        plt.xlabel('Length')
        plt.ylabel('Probability')
    #     plt.ylim(0,0.1)
        plt.savefig(target+shortName, bbox_inches='tight')
        plt.close()
    except:
        print 'problem with {}'.format(shortName)

problem with Cante1

In [36]:
pd.read_csv('/home/karl/richard-exp-w9/Spapa3_intron.fasta.mfout'.format(shortName), skiprows = 2, sep = '\t', header = None)

             0   1
0    TATACTTTT  31
1    CCAACTATC  30
2    TATATTAAC  33
3    AATATTATC  29
4    TGGACAGAC  28
5    AATGCAACC  32
6    AAAGCTTTT  31
7    TATACCATT  35
8    ACTTCAAAT  35
9    AAATCAAAT  29
10   GGTACCACT  26
11   AGTAGTAGC  20
12   ATGATTTAC  26
13   TATACTAAC  31
14   TGAACTTGA  32
15   ATAAGTTCC   7
16   AATTCATGC  37
17   AAAAGAACC  24
18   AGTTCAACC  28
19   AAAGCAAAC  28
20   GATATTGTC  34
21   AAATCAAGC  17
22   CGAAGAAAT  32
23   ATCACTAGC  12
24   GGAGCTAAT  15
25   ATCACAAAA   7
26   AATACTAAC  30
27   ACAGCAAAT  28
28   ATCGTCAAC  37
29   CAAACTAAC  34
..         ...  ..
796  GGTGGAGGC   1
797  ACTTGTTCC  30
798  AATATTAGC  17
799  AGTACTAAC  34
800  ATTTCTTAA  33
801  AGTAGTAGC  35
802  TCTACTAAC  31
803  ACAACAACC  22
804  ACTACTAAC  34
805  CCAAGAAAC  31
806  TATAGTAAA  28
807  AATATAAAT  32
808  CTTACTAAC  32
809  AATGCTAGC  32
810  TATATGTAC  31
811  TATACTAAC  30
812  AATACTAAC  37
813  GAAATTGAC  27
814  AAGACTTAC  33
815  TGAACGAAA  33
816  TAGTCAATC  28
817  AATACTAAT  32
818  TATACTAAC  35
819  AATTCTAAC  35
820  CCCACTAAC  36
821  TTTACAACC  29
822  AAGGCTAAC  16
823  CGAAGGACC  29
824  GGTTCCTAC  33
825  ATCTCTGTC  29

[826 rows x 2 columns]

In [ ]:
############## test codes ###########

In [16]:
# for shortName in info.shortName:
#     try:
#         table = pd.read_csv('/home/richard/research/tests/Nov24BranchPoint/bp_mat/{}.bp.mat'.format(shortName), sep = ' ', header = None)
#         print map(lambda x: round(x), list(table.sum(axis = 0))[1:])
#     except:
#         pass

In [15]:
freqs = pd.read_csv('/home/richard/research/tests/Nov24BranchPoint/richard-exp-w9/Ascru1_intron.fasta.mfout', skiprows = 2, sep = '\t', header = None)
freqs.shape

(2259, 2)

In [26]:
freqs

               0   1
0      TCTTGCCTA   1
1      GGTTGATTG  25
2      ACTTGCTAA  14
3      CATTGATTT  12
4      TTTTGCATT  22
5      GCTTGGATC  16
6      TTTTGATAT  26
7      GACTGACAT  26
8      TATTGAATT  26
9      TGATGGTCC  26
10     GATTGGCAA   3
11     TGCTGACAA  14
12     AAATGAATC  33
13     TTATGTCTG  32
14     ATTTCAATA   8
15     ATTTGTAAA   5
16     CAATGAAAT   8
17     GTTTGATAT  20
18     CATTGCAAC   4
19     AGCTCGTTA  16
20     AGTTGGATG  31
21     ATATGCAGT  23
22     TCTTGGAAT   6
23     AATTGCCAA  19
24     TTTTCCTAT  27
25     TTTTGCATC   1
26     AGCTGACAT  24
27     CCCTGCTAT  14
28     CTTTGACTC  12
29     TAATGGTAA   5
...          ...  ..
27881  TCATGAATT  26
27882  TGTTGAATG  17
27883  TGCTGACTT   6
27884  GATTGACAT  12
27885  ACTTGGCAT  26
27886  GGTTGGATT  24
27887  TGTTGTTTG  11
27888  TATTGACTG   8
27889  TATTGGTAT  18
27890  GACTGATAT  36
27891  GATTGCTAA  35
27892  CATTGACAC  21
27893  GGTTGAGTT   7
27894  AAATGGTTT   8
27895  ATTTGACAA  16
27896  GGCTCAAAA  18
27897  GCTTGCTTG  36
27898  ACCTGGGCT   5
27899  GATTGTTTA  37
27900  GGATGCACT  15
27901  TTTTGATAA  26
27902  TGATGGAAT  16
27903  TACTGGATT  29
27904  TGTTGATTA  36
27905  CGTTGAATC  19
27906  TGTTGAATT  21
27907  TGTTGATTG   8
27908  ATTTGGCAT  36
27909  ATTTGGATT  34
27910  AATTGAATT  24

[27911 rows x 2 columns]

In [5]:
mat = pd.DataFrame([[0]*9 for i in range(4)]); mat.index = 'T C A G'.split()

In [6]:
mat

   0  1  2  3  4  5  6  7  8
T  0  0  0  0  0  0  0  0  0
C  0  0  0  0  0  0  0  0  0
A  0  0  0  0  0  0  0  0  0
G  0  0  0  0  0  0  0  0  0

In [7]:
for motif in freqs[0]:
    if 'N' not in motif:
        for i in range(9):
            mat.ix[motif[i]][i] += 1

In [8]:
mat

      0    1     2     3     4     5     6    7     8
T  1084  831  1069  2126     0    10   743  523   609
C   307   81   571     0   758   576   323  283   418
A   740  879   615     1   132  1283  1184  942  1103
G   124  464     0   128  1365   386     5  507   125

In [9]:
1.*mat/freqs.shape[0]

,0,1,2,3,4,5,6,7,8
T,0.479858,0.367862,0.473218,0.941124,0.000000,0.004427,0.328907,0.231518,0.269588
C,0.135901,0.035857,0.252767,0.000000,0.335547,0.254980,0.142984,0.125277,0.185038
A,0.327579,0.389110,0.272244,0.000443,0.058433,0.567950,0.524126,0.416999,0.488269
G,0.054892,0.205401,0.000000,0.056662,0.604250,0.170872,0.002213,0.224436,0.055334