In [29]:
import pandas as pd
from Bio import SeqIO

In [30]:
full_info = pd.read_csv('../1_DataSmall/fullTableInfoGff3GffRNAESwithDensity20150829.csv')
full_info.index = full_info.shortName

basepath = '/storage3/w/richard/meta2015/placeForRNASeq/'

In [3]:
target = '../5_Tests/Oct15intronCompare/intronComparison.txt'

In [17]:
lines = []
with open(target) as f: 
    for line in f:
        if len(line) > 2:
            lines.append(line.rstrip())

In [18]:
result = zip(lines[::3],lines[1::3],lines[2::3])

In [22]:
shortName = lines[::3]

In [23]:
longName  = full_info.longName[shortName]

In [25]:
gc = full_info.gc[shortName]

In [27]:
fastaName = map(lambda x: x[:-3], full_info.fastaName[shortName])

In [54]:
genomesize = map(int,map(lambda x:os.path.getsize(basepath+x+"/data/"+full_info.fastaName[x][:-3])/1024./1024., shortName))

In [64]:
rna_seq_intron = map(lambda x: x.split()[0],lines[1::3])
rna_seq_intron_unique = map(lambda x: x.split()[2],lines[1::3])

In [65]:
ES_intron = map(lambda x: x.split()[0],lines[2::3])
ES_intron_unique = map(lambda x: x.split()[2],lines[2::3])

In [66]:
shared_intron = map(lambda x: x.split()[1], lines[1::3])

In [70]:
testGenomeRNASeq_ES = pd.DataFrame({"shortName":shortName,
                                   "longName":longName,
                                   'gc':gc,
                                   'genomesize_Mb':genomesize,
                                   'rna_seq_intron':rna_seq_intron,
                                   'rna_seq_intron_unique':rna_seq_intron_unique,
                                   'ES_intron':ES_intron,
                                   'ES_intron_unique':ES_intron_unique,
                                   'shared_intron':shared_intron},
                                   columns = ["shortName","longName",'gc','genomesize_Mb','rna_seq_intron',
                                              'rna_seq_intron_unique','ES_intron','ES_intron_unique','shared_intron'])

In [72]:
testGenomeRNASeq_ES.head()

,shortName,longName,gc,genomesize_Mb,rna_seq_intron,rna_seq_intron_unique,ES_intron,ES_intron_unique,shared_intron
shortName,,,,,,,,,
Aspoch1,Aspoch1,Aspergillus ochraceoroseus IBT 24754 v1.0,44.2,26,52840,36554,19845,3559,16286
Cenge3,Cenge3,Cenococcum geophilum 1.58 v2.0,37.5,171,80781,57630,28373,5222,23151
Conco1,Conco1,Conidiobolus coronatus NRRL28638 v1.0,27.7,38,41143,26361,18881,4099,14782
Conli1,Conli1,Coniochaeta ligniaria CBS 111746,51.9,42,41572,27217,24418,10063,14355
Croqu1,Croqu1,Cronartium quercuum f. sp. fusiforme G11 v1.0,41.1,74,83592,64755,24342,5505,18837

In [ ]:
####  perform tests on intron with score > 10  ####
base_command = '/home/alexl/DISTR/src/pl/compare_cds_exact.pl  -f1'
target = '/home/richard/research/5_Tests/Oct15intronCompare/'
script = ''
for name in shortName:
    command = "{} {} -f2 {} -v -intron >{}".format(base_command, )